h1 {
	font-size: 250%;
}
a.s1:link {
    text-decoration: none;
	font-size: 180%;
}
a.s1:visited {
    text-decoration: none;
}
a.s1:hover {
    text-decoration: none;
}
a.s1:active {
    text-decoration: none;
}

/*BUTTONS, FORMS AND ICON ALIGNMENT*/
/*seda kasutada teksti ja nuppude kõrvuti paigutamiseks*/
img.mid {
    vertical-align: middle;
}
.butLeft{
	float: left;
	width: 10em;  height: 2em;
	margin-left:30px;
}
.butRight{
	float: right;
	width: 10em;  height: 2em;
	margin-right:30px;
}
.panRight{
	position: absolute;
	margin-top:20px;
	margin-left:20px;
}
.pic{
	margin-top:20px;
}
/*----------------------------------------------------*/

.container {
}

/*see on meie vasakpoolne ekraani osa*/
.left {
	height:100%;
    overflow: hidden;
	text-align: center;	
	border-right:1px solid;
}

/*parepoolne ekraani osa*/
.right {
    float: right;
}

/*profiili osa*/
.up {
    height: 300px;
    width: 400px;
	float: top;
    border-bottom:1px solid;
}
.upUp{
	float:top;
	height: 250px;
}
.upDown{
	float:bottom;
	height: 50px;
}
.upUpLeft{
	float:left;
	width:200px;
	height:250px;
	text-align: center;
}
.upUpRight{
	width:auto;
    height:250px;
}

/*otsingu osa*/
.down {
}