html,body {
}

/*HEADLINE*/
j1 {
	font-size: 250%;
	font-weight:bold;
}

/*SCORE*/
i1 {
	font-size: 110%;
	font-weight:bold;
}
/*POST*/
.s1 {
    text-decoration: none;
	color: blue;
	font-size: 180%;
}
.s1:visited {
    text-decoration: none;
}
.s1:hover {
    text-decoration: none;
}
.s1:active {
    text-decoration: none;
	color: orange;
}
/*NORMALISH LINK*/
a.n1:link {
    text-decoration: none;
	color: blue;
	font-size: 100%;
}
a.n1:visited {
    text-decoration: none;
    color: blue;
}
a.n1:hover {
    text-decoration: none;
}
a.n1:active {
    text-decoration: none;
	color: orange;
}

/*alignment n stuff*/
/*seda kasutada teksti ja nuppude kõrvuti paigutamiseks*/
img.mid {
    vertical-align: middle;
}
.pic{
	margin-top:20px;
}


/*--------------EKRAANI JAOTAMINE---------------*/

/*see on meie vasakpoolne ekraani osa*/
.left {
	height:100%;
    overflow: hidden;
	text-align:center;
	border-right:1px solid;
	background:#eeeeee;
}

/*parepoolne ekraani osa*/
.right {
    float: right;
}

/*profiili osa*/
.up {
    height: 300px;
    width: 400px;
	float: top;
}
.upUp{
	float:top;
	height: 250px;
}
.upDown{
	float:bottom;
	height: 50px;
}
.upUpLeft{
	position:relative;
	float:left;
	width:200px;
	height:250px;
	text-align: center;
}
.upUpRight{
	float:right;
	width:200px;	
	height: 250px;
}

/*otsingu osa*/
.down{
	width:400;
	height:200;
	border-top:1px solid;
}

/*postituse osa pealehel*/
.postBoxRow{
	position:relative;
	width:100%-5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	background:white;
}
.postBoxRow:hover{
	background-color:#F5F5F5;
}
.postBoxRow:hover .vertIcon{
	background-color:blue;
}
.postBox{
	display: inline-block;	
}
.postDataBox{
	float:left;
}
.postDataBoxUp{
}
.postDataBoxDown{
	text-align:center;
}
.voteBox{
	float:left;
}
.dataComments{
	display: inline-block;
	margin-right: 10px;
}
.dataScore{
	display: inline-block;
}
.dataDate{
	display: inline-block;
	margin-left: 10px;
}

.head{
}

/*POST PAGE DIVS*/
.selfPost{	
	width: 500px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
	background:white;
	border:1px solid;
	text-align: left;
}
.selfComment{
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
}

.vertIcon{
	position:absolute;
	background:pink;
	height:100%;
	width:5px;
}