html,body {
	margin: 0 !important;
    padding: 0 !important;
}

/*HEADLINE*/
j1 {
	font-size: 250%;
	font-weight:bold;
}

/*SCORE*/
i1 {
	font-size: 110%;
	font-weight:bold;
}
a:active {color: pink;}
a {
	color: #246;
	text-decoration: none;
}

a.n2:active {color: black;}
a.n2{
	color: #246;
	text-decoration: none;
}
/*POST*/
.s1 {
    text-decoration: none;
	color: blue;
	font-size: 180%;
}
.s1:visited {
    text-decoration: none;
}
.s1:hover {
    text-decoration: none;
}
.s1:active {
    text-decoration: none;
	color: orange;
}
/*NORMALISH LINK*/
a.n1:link {
    text-decoration: none;
	color: blue;
	font-size: 100%;
}
a.n1:visited {
    text-decoration: none;
    color: blue;
}
a.n1:hover {
    text-decoration: none;
}

/*alignment n stuff*/
/*seda kasutada teksti ja nuppude kõrvuti paigutamiseks*/
img.mid {
    vertical-align: middle;
}
.pic{
	margin-top:20px;
	-webkit-box-shadow: 0px 0px 2px 4px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 2px 4px rgba(0,0,0,1);
box-shadow: 0px 0px 2px 4px rgba(0,0,0,1);
}


/*--------------EKRAANI JAOTAMINE---------------*/

/*see on meie vasakpoolne ekraani osa*/
.left {
	height:100%;
    overflow: hidden;
	text-align:center;
	background:#eeeeee;
}

/*parepoolne ekraani osa*/
.right {
	display:table;
    float: right;
	-moz-box-shadow:    3px 5px 7px 8px #ccc;
	-webkit-box-shadow: 3px 5px 7px 8px #ccc;
	box-shadow:         3px 5px 7px 8px #ccc;	
	height:100%;
	width:400px;
	/*border-collapse: collapse;*/
	background:#FFEDDC;
}

/*profiili osa*/
.up {
	display:table-row;
	float: top;
}
.upUp{
	float:top;
	height:210px;
}
.upDown{
	float:bottom;
	display: table;
	/*border-collapse:separate; probably useless*/
	table-layout: fixed;
    width: 100%;
	background: #FFDAB6;
	height:45px;
	-webkit-box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.74);
	-moz-box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.74);
	box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.74);
}
.upDownLeft{
	display: table-cell;
	padding-left:10px;
	text-align: left;
	vertical-align: middle;	
}
.upDownRight{
	display: table-cell;
	padding-right:10px;
	text-align: right;
	vertical-align: middle;
}
.upUpLeft{
	float:left;
	width:200px;
	text-align: center;
}
.upUpRight{
	width:200px;
	float:right;
}
.upUpRightRight{
}
.upUpRightLeft{
	display: table;
	table-layout: fixed;
	width:120px;
	float:left;
}

.upUpRightBox{
	text-align:center;
	display:table-row;
	height:20px;
}
.upUpRightBox:hover{
	background-color:#FD8F29;
	
    border: solid 1px #20538D;
	
}

/*otsingu osa*/
.down{
	display:table-row;
    height:100%;
	width:400;
}

/*postituse osa pealehel*/
.postBoxRow{
	position:relative;
	width:100%-5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	background:white;
}
.postBoxRow:hover{
	background-color:#F5F5F5;
}
.postBoxRow:hover .vertIcon{
	background-color:blue;
}
.postBox{
	display: inline-block;	
}
.postDataBox{
	float:left;
}
.postDataBoxUp{
}
.postDataBoxDown{
	text-align:center;
}
.voteBox{
	float:left;
}
.dataComments{
	display: inline-block;
	margin-right: 10px;
}
.dataScore{
	display: inline-block;
}
.dataDate{
	display: inline-block;
	margin-left: 10px;
}

.head{
	display: table;
	/*border-collapse:separate; probably useless*/
	
    width: 100%;
	background: #4479BA;
    color: #FFF;
	height:50px;
	-webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.75);
}
.headLeft{	
	display: table-cell;
	padding-left:15px;
	width:15%;
	text-align: left;
	vertical-align: middle;
}
.headMid{
	display: table-cell;
	width:70%;
	text-align: center;
	vertical-align: middle;
}
.headRight{
	display: table-cell;
	padding-right:15px;
	width:15%;
	text-align: center;
	vertical-align: middle;
}

.separator{
	height:10px;
}

/*POST PAGE DIVS*/
.selfPost{	
	width: 500px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
	background:white;
	border:1px solid;
	text-align: left;
}
.selfComment{
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
}

.vertIcon{
	position:absolute;
	background:pink;
	height:100%;
	width:5px;
}

.rightLink{
	padding: 5px 15px;
    background: #FDAC60;
    color: #000;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #20538D;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	
	-webkit-transition-duration: 0.05s;
    -moz-transition-duration: 0.05s;
    transition-duration: 0.05s;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}
.rightLink:hover{
    background: #FD8F29;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.rightLink:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #FC800C;
    border: solid 1px #203E5F;
}

.headLink {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	
	-webkit-transition-duration: 0.05s;
    -moz-transition-duration: 0.05s;
    transition-duration: 0.05s;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}

.headLink:hover{
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.headLink:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.settingsBut{
	position:relative;
    float:left;
	margin-left: 55px;
}
.logOutBut{
	position:relative;
    float:right;
	margin-right: 55px;
}













/*SEARCH TRINKET*/
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: url('img/search-icon.png') no-repeat 9px center;
	border: solid 1px #20538D;
	width: 55px;	
	padding: 10px 14px;    
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;	
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#searchMain input[type=search] {
	float:right;
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#searchMaininput[type=search]:hover {
	background: url('img/search-iconB.png') no-repeat 9px center;
	float:right;
	background-color: #fff;
}
#searchMain input[type=search]:focus {
	background: url('img/search-iconB.png') no-repeat 9px center;
	float:right;
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#searchMain input:-moz-placeholder {
	float:right;
	color: transparent;
}
#searchMain input::-webkit-input-placeholder {
	float:right;
	color: transparent;
}

/*siin on profilestyle*/
#image {
	margin: 50px;
	float: left;
}

td {
	padding: 10px;
}

.userinfo {
	margin-top: 100px;
	font-size: 18px;
	font-family: 'Open Sans';
	float: left;
}

#username{
	font-size: 25px;
}

.timeline{
	margin-top: 50px;
}